.graphWrapper {
  position: relative;
  height: 500px;
  .search {
    position: absolute;
    width: 300px;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    border-radius: 5px !important;
    //border: none;
    ///outline: none;
    z-index: 999;
    font-size: 1.4rem;
    // color: rgb(255, 255, 255);
    opacity: 0.6;
  }
}
