.container{
    width: 75%;
    min-height: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    overflow: hidden;
    .left{
        width: 75%;
        display: flex;
        flex-direction: column;
        &>div:nth-child(1){
            height: 8%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: #E9ECEF;
            &>div:nth-child(1){
                width: 13%;
                height: 70%;
                font-size: 21px;
                text-align: center;
                line-height: 40px;
                font-weight: 900;
            }
            &>div:nth-child(2){
                width: 74%;
                height: 60%;
            }
            &>div:nth-child(3){
                width: 8%;
                height: 50%;
                font-size: 14px;
                background-color: #009DFF;
                text-align: center;
                line-height: 33px;
                font-weight: 600;
                border-radius: 6px;
                color: white;
                cursor: pointer;
            }

        }
        &>div:nth-child(2){
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: 92%;
            padding-bottom: 80px;
        }
    }
    .right{
        width: 25%;
        background-color: #E9ECEF;
        padding-left: 2%;
        &>div:first-child{
            height: 8%;
        }
        &>div:nth-child(2){
            height: 92%;
            .tagContainer{
                height: 20%;
                background-color: white;
            }
            .replyContainer{
                margin-top: 40px;
                height: 60%;
                background-color: white;
            }
        }
    }
}