
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    &>div {
        background-color: pink;
        width: 60%;
    }
    &>div:first-child{
        width:10%;
    }
    &>div:last-child{
        width:15%;
    }
}





