
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    &>div {
        width: 50%;
    }
    &>div:first-child{
        width:10%;
        text-align: center;
        line-height: 50px;
        font-size: xx-large;
    }
    &>div:last-child{
        width:12%;
    }
}
.headerAvatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}





