.user-layout-container {
  height: 100vh;
  background-color: #fbfbfb;
  background-image: url(../../assets/backgr.png);
  background-size: 30% !important;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.user-layout-container .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-layout-container .content-container .content {
  width: 700px;
  height: 400px;
  background: #ffffff90;
  margin-top: 7%;
  border: 1px solid #bfd4fa;
  filter: drop-shadow(rgba(60, 113, 221, 0.15) 10px 10px 8px);
  border-radius: 55.5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.user-layout-container .content-container .content .left {
  margin-left: 50px;
}
.user-layout-container .content-container .content .right {
  padding-left: 40px;
  box-sizing: border-box;
}
.user-layout-container .content-container .content .right .content-header {
  height: 44px;
  line-height: 44px;
}
.user-layout-container .content-container .content .right .content-header .title {
  color: #4b89da;
  font-weight: 600;
  font-size: 20px;
  margin-right: 20px;
  font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.user-layout-container .content-container .content .right .desc {
  margin: 0px 16px 25px 0px;
  font-weight: 600;
  font-size: 20px;
}
