.footerWrapper {
  background-color: rgb(42, 71, 109);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 70rem;
  font-size: 1.5rem;
  padding: 0rem 3rem 1rem 3rem;
  .focusWrapper {
    width: 30%;
    color: rgb(209, 209, 209);
    margin: 2rem 0 2rem 0rem;
    padding: 2rem;
    float: right;
    background-color: rgb(160, 177, 200) e;
    .img {
      width: 100%;
    }
  }
}
