.footerWrapper {
  background-color: #2a476d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding: 0rem 3rem 1rem 3rem;
}
.footerWrapper .focusWrapper {
  width: 30%;
  color: #d1d1d1;
  margin: 2rem 0 2rem 0rem;
  padding: 2rem;
  float: right;
  background-color: #a0b1c8 e;
}
.footerWrapper .focusWrapper .img {
  width: 100%;
}
