.footerWrapper {
  background-color: rgb(42, 71, 109);
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  .focusWrapper {
    width: 240px;
    color: rgb(209, 209, 209);
    margin: 20px 0 20px 0px;
    padding: 20px;
    float: right;
    background-color: rgb(160, 177, 200) e;
    .img {
      width: 100%;
    }
  }
}
