.DetailWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-bottom: 8rem;
  background-color: #e9ecef;
}
.DetailWrapper .menu {
  align-self: flex-start;
  margin: 1rem 0 1rem 28rem;
  font-size: 3rem;
}
.DetailWrapper .DetailContent {
  width: 75rem;
  background-color: #ffffff;
  padding: 0 3rem 3rem 3rem;
  color: #2f2f2f;
}
.DetailWrapper .DetailContent img {
  width: 100%;
}
.DetailWrapper .DetailContent p {
  margin: 2.5rem 0;
  font-size: 1.6rem;
  line-height: 3rem;
}
.DetailWrapper .DetailContent b {
  font-weight: bold;
}
.DetailWrapper .DetailContent .title {
  margin: 2rem 0 2rem 0;
  line-height: 4.4rem;
  font-size: 3.4rem;
  color: #333;
  font-weight: bold;
}
