.homeWrapper .bottomLeft {
  display: flex;
  justify-content: flex-end;
  margin: 4rem 0;
  cursor: pointer;
}
.homeWrapper .bottomLeft div {
  width: 30%;
  height: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  font-weight: 500;
  background-color: #213550;
  color: aliceblue;
  text-align: center;
}
