.forgetWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff5fc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom, right bottom;
  background-size: 30% 50%;
  background-image: url('../../assets/forget-bg2.svg'), url('../../assets/forget-bg1.svg');
}
.forgetWrapper .menu {
  align-self: flex-start;
  margin-top: 7%;
  margin-left: 10%;
}
.forgetWrapper .forgetContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 25px;
  background-color: #f6faff;
  height: auto;
}
.forgetWrapper .forgetContent .steps-content {
  margin-top: 8%;
}
.forgetWrapper .forgetContent .steps-content .set-form .submit-button {
  width: 90%;
  margin-left: 75px;
}
.forgetWrapper .submit-button {
  width: 100%;
}
